body {
    background-color: #1a1a1a;       
    font-family: Arial, sans-serif;
    color: #f5f5f5;
    margin: 3;
    padding: 100;
}

header {
    background: linear-gradient(90deg, #DE721B, #ffb067); 
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav {
  background-color: rgba(122, 121, 120, 0.242);
  text-align: right;
  padding: 4px;
  font-weight: bold;
  height: 40px;
  display: block;
  clear: both;
}

nav { 
  letter-spacing: -1px;
  text-align: center;
  height: auto;
  overflow: hidden;
  width: 100%;
  left: 0;
  top: 0;
  position: sticky;
  z-index: 1000;
}

nav ul li { 
  background-color: rgb(255,176,98);
  border: 1px solid #876823;
  display: inline-block;
  padding: 0 7px;
  margin: 0 5px;
  list-style-type: none;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 5px 5px 5px black;
}

nav a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.701);
}

.encabezado {
  background: linear-gradient(to right, #ff7a00, #c94b00);
  color: white;
  text-align: center;
  padding: 40px 0;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}

.encabezado h1 {
  font-size: 55px;
  letter-spacing: 5px;
} 

section {
    padding: 20px 30px;
    margin: 20px;
    background-color: #262626;
    border-left: 6px solid #ff7a1f;
    border-right: 6px solid #ff7a1f; 
    border-radius: 5px;
    text-align: center;
}

section h2 {
    color: #ffb067;
    font-size: 45px;
    margin-top: 0;
    text-align: center;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    width: 300px;
    border-radius: 12px;
    border: 3px solid #ff7a1f;        
}
img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff7a1f;
}

.galeria {
  display: flex;
  justify-content: center;  
  gap: 30px;                
}

.galeria img {
  width: 200px;  
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  border: 3px solid #ff7a1f;
}

a {
    color: #ff8c3c;                  
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ffc590;                  
    text-decoration: underline;
}

#formulario a{
display:block;
color:#DE721B;  
text-decoration:none
font-weight:bold;
margin-top:40px;
text-align:center;
}

#formulario{
position:relative;
top:20px;
height:685px;
width:800px;
background-size:cover;
margin-left:auto;
margin-right:auto; 
}

.module{
position:relative;
top:2%;    
height:70%;
width:450px;
margin-left:auto;
margin-right:auto;
border-radius:50px;
background-color:#DE721B;
                    
-webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
                  
}

.module ul{
list-style-type:none;
margin:0;
}

.tab{
float:left;
height:60px;
width:50%;
padding-top:20px;
box-sizing:border-box;
background:#eeeeee;  
text-align:center;
cursor:pointer;
transition:background .4s;
}

.tab:first-child{  
-webkit-border-radius: 5px 0px 0px 0px;
border-radius: 5px 0px 0px 0px;
}

.tab:last-child{  
-webkit-border-radius: 0px 5px 0px 0px;
border-radius: 5px 50px 0px 0px;
}

.tab:hover{  
background-color:rgba(0,0,0,.1);
}

.activeTab{
background:#fff;
}

.activeTab .icon{
opacity:1;
}

.icon{
height:24px;
width:24px;
opacity:.2;
}

.form{
float:left;
height:86%;
width:100%;
box-sizing:border-box;
padding:40px;
}

.textbox{
height:50px;
width:100%;
border-radius:20px;
border:rgba(194, 187, 187, 0.996) 2px solid;
box-sizing:border-box;
padding:10px;
 margin-bottom:15px;
}
.textbox:focus{
outline:none;
border:##FF8C00 2px solid;
color:##FF8C00;
}

.button{
height:50px;
width:100%;
border-radius:50px;
border:rgba(0,0,0,.3) 0px solid;
box-sizing:border-box;
padding:10px;
margin-bottom:30px;
background: rgb(0, 0, 0);
color:#FFF;
font-weight:bold;
font-size: 12pt;
transition:background .4s;
cursor:pointer;
}

.button:hover{
background-color: #FF8C00;
                      
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    margin-top: 40px;
    color: #ffb067;
}